release:
  host: "0.0.0.0"
  port: 6000
  sandbox:
    type: "awaho"
    executable_path: "./_awaho/awaho"
    host_mount_dir: "/usr/local/procgarden"
    guest_mount_dir: "/usr/local/procgarden"
  is_debug_mode: false
  exec_dir: "/tmp/cage_exec"

debug:
  host: "127.0.0.1"
  port: 6000
  sandbox:
    type: "awaho"
    executable_path: "./_awaho/awaho"
    host_mount_dir: "./_env_test"
    guest_mount_dir: "/usr/local/procgarden"
  is_debug_mode: true
  exec_dir: "/tmp/cage_exec"